.btn__login{
    @include text($c-white, $fs-md, $fw-bold);
    background-color: $c-primary;
    border: none;
    &:hover{
        background-color: #19a463;
        color: $c-white
    }

}
.btn__logout{
    @include text($c-white, $fs-md, $fw-bold);
    background-color: red;
    border: none;
    &:hover{
        opacity: 0.7;
    }
}
.btn__register{
    @include text($c-white, $fs-md, $fw-bold);
    background-color: #007bff;
    border: none;
    &:hover{
        opacity: 0.7;
    }
}